{% extends 'base.html.twig' %}

{% block title %}
Metier
{% endblock %}

{% block body %}
<h1>
	Metier :
	{{ metier.nom }}
</h1>
<h2>Types de prestations</h2>
<table class="table">
	<thead>
		<tr>
			<th>NomType</th>
			<th>Description</th>
			<th>TarifPublic</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for type_prestation in metier.typePrestations %}
		<tr>
			<td>{{ type_prestation.nomType }}</td>
			<td>{{ type_prestation.description }}</td>
			<td>{{ type_prestation.tarifPublic }}</td>
			<td><a
				href="{{ path('type_prestation_show', {'id': type_prestation.id}) }}">show</a>
				<a
				href="{{ path('type_prestation_edit', {'id': type_prestation.id}) }}">edit</a>
			</td>
		</tr>
		{% else %}
		<tr>
			<td colspan="4">no records found</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('metier_index') }}">back to list</a>

<a href="{{ path('metier_edit', {'id': metier.id}) }}">edit</a>
<a href="{{ path('metier_add_typeprestation', {'id': metier.id}) }}">add
	prestation type</a>

{{ include('metier/_delete_form.html.twig') }}
{% endblock %}
