{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Localisation</th>
                <th>Client</th>
                <th>État</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.localisation }}</td>
                <td>{{evenement.client}}</td>
                <td>{{ evenement.etat }}</td>
                <td>
                    {{ include('_edit_button.html.twig',{'action_path':'evenement_edit','id_value':evenement.id,'label':'Editer cette entrée'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('_new_button.html.twig', {'action_path':'evenement_new','label':'Ajouter un événement'}) }}
{% endblock %}