{% extends 'base.html.twig' %}

{% block title %}Ajout d'un métier à un partenaire{% endblock %}

{% block body %}
    <h1>Ajout d'un métier à un partenaire </h1>
    <h2>Partenaire {{ partenaire.nom }} {{ partenaire.prenom }}</h2>
    <h2>Liste des metiers du partenaire</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Nom metier</th>
        </tr>
    </thead>
    <tbody>
        {% for metier in partenaire.metiers %}
        <tr>
            <td>{{ metier.nom }}</td>
        </tr>
        {% else %}
        <tr>
            <td>no records found</td>
        </tr>
        {% endfor %}
    </tbody>

    </table>
        <p>
    {{ include('metier/_form.html.twig') }}
    <br>
    {{ include('partenaire/_show_button.html.twig') }}
    </p>
{% endblock %}
