{% extends 'base.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block body %}
    <h1>Edit Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Update'}) }}
    <h2>Liste des metiers</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Nom metier</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for metier in partenaire.metiers %}
        <tr>
            <td>{{ metier.nom }}</td>
            <td><a
                href="{{ path('metier_show', {'id': metier.id}) }}">show</a>
                <a
                href="{{ path('metier_edit', {'id': metier.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{{ path('partenaire_add_metier', {'id': partenaire.id}) }}">add metier</a>
</table>
<h2>Catalogue de prestations</h2>
<table class="table">
    <thead>
        <tr>
            <th>Type prestation</th>
            <th>Description</th>
            <th>TarifPublic</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat_entry in partenaire.catalogues %}
        <tr>
            <td>{{ cat_entry.typePrestation.nomType }}</td>
            <td>{{ cat_entry.typePrestation.description }}</td>
            <td>{{ cat_entry.tarifPublic }}</td>
            <td><a
                href="{{ path('catalogue_show', {'id': cat_entry.id}) }}">show</a>
                <a
                href="{{ path('catalogue_edit', {'id': cat_entry.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ path('partenaire_add_typeprestation', {'id': partenaire.id}) }}">add
    prestation type</a>
    <a href="{{ path('partenaire_index') }}">back to list</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
