{% extends 'base.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block body %}
    <h1>Edit Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Update'}) }}
    <h2>Liste des metiers</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Nom metier</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for metier in partenaire.metiers %}
        <tr>
            <td>{{ metier.nom }}</td>
            <td>{{ include('partenaire/_delete_metier_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
    {{ include('partenaire/_add_metier_button.html.twig') }}
</table>
<h2>Catalogue de prestations</h2>
<table class="table">
    <thead>
        <tr>
            <th>Type prestation</th>
            <th>Description</th>
            <th>TarifPublic</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat_entry in partenaire.catalogues %}
        {% set catalogue = cat_entry %}
        <tr>
            <td>{{ cat_entry.typePrestation.nomType }}</td>
            <td>{{ cat_entry.typePrestation.description }}</td>
            <td>{{ cat_entry.tarifPublic }}</td>
            <td>{{ include('partenaire/_delete_catalogue_form.html.twig') }}
                {{  include('catalogue/_edit_button.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ include('partenaire/_add_catalogue_button.html.twig') }}
<br>
        {{ include('partenaire/_delete_form.html.twig') }}
        <br>
    {{ include('partenaire/_back_to_list_button.html.twig') }}


{% endblock %}
