{% extends 'base.html.twig' %}

{% block title %}Détails du partenaire{% endblock %}

{% block body %}
    <h1>Partenaire {{ partenaire.nom }} {{ partenaire.prenom }}</h1>
    <h2>Liste des metiers</h2>
    <table class="table">
    <tbody>
        {% for metier in partenaire.metiers %}
        <tr>
            <td>{{ metier.nom }}</td>
        </tr>
        {% else %}
        <tr>
            <td>no records found</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
<h2>Catalogue de prestations</h2>
<table class="table">
    <thead>
        <tr>
            <th>Type prestation</th>
            <th>Description</th>
            <th>TarifPublic</th>
        </tr>
    </thead>
    <tbody>
        {% for cat_entry in partenaire.catalogues %}
        <tr>
            <td>{{ cat_entry.typePrestation.nomType }}</td>
            <td>{{ cat_entry.typePrestation.description }}</td>
            <td>{{ cat_entry.tarifPublic }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
   {{ include('partenaire/_edit_button.html.twig') }}
   <br>
    {{ include('partenaire/_back_to_list_button.html.twig') }}
{% endblock %}
