{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}

{% block body %}
    <h1>Partenaire {{ partenaire.nom }} {{ partenaire.prenom }}</h1>
    <h2>Liste des metiers</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Nom metier</th>
        </tr>
    </thead>
    <tbody>
        {% for metier in partenaire.metiers %}
        <tr>
            <td>{{ metier.nom }}</td>
        </tr>
        {% else %}
        <tr>
            <td>no records found</td>
        </tr>
        {% endfor %}
    </tbody>
    <a href="{{ path('partenaire_add_metier', {'id': partenaire.id}) }}">add metier</a>
</table>
<h2>Catalogue de prestations</h2>
<table class="table">
    <thead>
        <tr>
            <th>Type prestation</th>
            <th>Description</th>
            <th>TarifPublic</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat_entry in partenaire.catalogues %}
        <tr>
            <td>{{ cat_entry.typePrestation.nomType }}</td>
            <td>{{ cat_entry.typePrestation.description }}</td>
            <td>{{ cat_entry.tarifPublic }}</td>
            <td><a
                href="{{ path('catalogue_show', {'id': cat_entry.id}) }}">show</a>
                <a
                href="{{ path('catalogue_edit', {'id': cat_entry.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <a href="{{ path('partenaire_index') }}">back to list</a>

    <a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}">edit</a>

{% endblock %}
