{% extends 'base.html.twig' %}

{% block title %}Localisation index{% endblock %}

{% block body %}
    <h1>Localisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.id }}</td>
                <td>{{ localisation.latitude }}</td>
                <td>{{ localisation.longitude }}</td>
                <td>{{ localisation.address }}</td>
                <td>
                    {{ include('localisation/_edit_button.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('localisation/_new_button.html.twig') }}
{% endblock %}
