{% extends 'base.html.twig' %}

{% block title %}Liste des localisations{% endblock %}

{% block body %}
    <h1>Liste des localisations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Addresse</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.address }}</td>
                <td>{{ localisation.latitude }}</td>
                <td>{{ localisation.longitude }}</td>
                <td>
                    {{ include('_edit_button.html.twig',{'action_path':'localisation_edit','id_value':localisation.id,'label':'Editer cette entrée'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('_new_button.html.twig', {'action_path':'localisation_new','label':'Ajouter une localisation'}) }}

{% endblock %}
