{% extends 'base.html.twig' %}

{% block title %}Catalogue index{% endblock %}

{% block body %}
    <h1>Catalogue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Partenaire</th>
                <th>Type de Prestation</th>
                <th>TarifPublic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catalogue in catalogues %}
            <tr>
                <td>{{ catalogue.partenaire }}</td>
                <td>{{ catalogue.typePrestation }}</td>
                <td>{{ catalogue.tarifPublic }}</td>
                <td>
                    {{ include('_edit_button.html.twig',{'action_path':'catalogue_edit','id_value':catalogue.id,'label':'Editer cette entrée'}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('_new_button.html.twig', {'action_path':'catalogue_new','label':'Ajouter une entrée au catalogue'}) }}

{% endblock %}
